.TodoList {
  list-style: 'none';
  padding: 0;
  height: 50%;
  overflow: scroll;
}
.Todo {
  color: rgba(255, 255, 255, .87);
  padding: 10px;
  cursor: pointer;
}

.Todo:hover {
  background-color: rgba(0, 0, 0, .1);
}